body
{
	background-color:#e8b7d4;
}
#icons
{
	padding-top: 15px;
}
#icons ul 
{
	list-style-type: none;
	margin: 0;
	padding: 10px 10px 35px 10px;
}
#icons li 
{
	display: inline;
}
#icons a
{
	padding-right: 15px;
	padding-top: 20px;
}
#welcome
{
	border: 1px hidden;
	background-color: #a5678e;
	z-index: 2;
	text-align: center;
	font-family: Candara, Didot, Fantasy, Perpetua, Courier; 
}
.icon
{
	width: 110px;
	padding: 0px;
	transition: transform .2s;
}
.icon:hover
{
	transform: scale(1.2);
}
.logo
{
	height: 160px;
	padding-top: 10px;
	padding-left: 5px;
}
#question
{
	position: absolute;
	color: #a5678e;
	font-size: 50px;
	font-weight: bolder;
	top: 210px;
	left: 60px;
	 font-family: Candara, Didot, Fantasy, Perpetua, Courier; 
}
#instructions
{
	position: absolute;
	color: #a5678e;
	font-size: 35px;
	font-weight: bold;
	top: 270px;
	left: 60px;
	 font-family: Candara, Didot, Fantasy, Perpetua, Courier; 
}
.flip-card {
	position: absolute;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #DEA5A4;
  color: black;
  font-family: Candara, Didot, Fantasy, Perpetua, Courier; 
  transform: rotateY(180deg);
}
p
{
	font-size: 20px;
}
#home
{
	position: absolute;
	top: 149px;
	right: 460px; 
	border: 1px hidden black;
	padding: 10px 10px 10px 10px;
	float: left;
	font-weight: bold;
	color: #fff192;
	overflow: clearfix;
	font-family: Candara, Didot, Fantasy, Perpetua, Courier; 
}
#impact
{
	position: absolute;
	top: 150px;
	right: 336px;
	border: 1px hidden black;
	padding: 10px 10px 10px 10px;
	float: left;
	font-weight: bold;
	color: #fff192;
	overflow: clearfix;
	font-family: Candara, Didot, Fantasy, Perpetua, Courier; 
}
#stat
{
	position: absolute;
	top: 150px;
	right: 198px;
	border: 1px hidden black;
	padding: 10px 10px 10px 10px;
	float: left;
	font-weight: bold;
	color: #fff192;
	overflow: clearfix;
	font-family: Candara, Didot, Fantasy, Perpetua, Courier; 
}
#faq
{
	position: absolute;
	top: 150px;
	right: 105px;
	border: 1px hidden black;
	padding: 10px 10px 10px 10px;
	float: left;
	font-weight: bold;
	color: #fff192;
	overflow: clearfix;
	font-family: Candara, Didot, Fantasy, Perpetua, Courier; 
}
#header
{
	display: inline;
	padding-top: 45px;
	padding-right: 0px;
	padding-left: 20px;
	font-size: 75px;
	font-weight: bold;
	color: #fff192;
	
}
#social
{
	border: 1px hidden;
	background-color:white;
	z-index: 2;
	text-align: center;
	font-family: Candara, Didot, Fantasy, Perpetua, Courier; 
	float: right;
	margin: 5px;
	width: 410px;
	height: 100px;
	position: absolute;
	top: 185px;
	right: 3px;
}
#check
{
	border: 1px hidden;
	background-color:#a5678e;
	color: #fff192;
	z-index: 100;
	text-align: center;
	font-size: 38px;
	font-family: Candara, Didot, Fantasy, Perpetua, Courier; 
	float: right;
	margin: 5px;
	width: 155px;
	height: 100px;
	position: absolute;
	top: 185px;
	right: 3px;
}
.nasa{
	background: url('../images/sprite.jpg') no-repeat -528px -400px;
	width: 144px;
	height: 120px;
	position: absolute;
	top: 182px;
	right: 145px;
	transform: scale(0.5,0.5);
	z-index: 50;
	transition: transform .2s;
}
.wwf {
	background: url('../images/sprite.jpg') no-repeat -312px -576px;
	width: 96px;
	height: 136px;
	position: absolute;
	top: 172px;
	right: 250px;
	z-index: 50;
	transform: scale(0.5, 0.5);
	transition: transform .2s;
}
.unep {
	background: url('../images/sprite2.jpg') no-repeat -31px -31px;
	width: 194px;
	height: 226px;
	position: absolute;
	top: 128px;
	right: 280px;
	z-index: 50;
	transform: scale(0.3, 0.3);
	transition: transform .2s;
}
.nasa:hover {
  transform: scale(0.7);
 }
.wwf:hover {
  transform: scale(0.7);
 }
.unep:hover {
  transform: scale(0.4);
 }
 .links {
  display: none;
}
.dropdown:hover {background-color: #ddd;}

.dropdown:hover {display: block;}

.dropdown:hover #welcome {background-color: #3e8e41;}

	
	